//Colors
$base: #1d2441;
$dark-grey-blue: #263353;
$cobalt: #1e3c85;
$dodger-blue: #578eff;
$sky-blue: #69a3ff;
$powder-blue: #bce3fd;
$steel-grey: #787f85;
$cool-grey: #8b9297;
$manilla: #fffa82;
$lightish-green: #6adb8e;
$tomato: #ed5151;
$pale-grey: #e2e9ef;
$light-blue-grey: #cdd9e5;
$pale-grey-two: #f0f5fa;
$pale-grey-four: #fafcfd;
$light-blue-grey-two: #cbd3e6;
