/*Nav*/


/*Landing Page*/
h1.headline {
  font-size: 2.5em;
  font-weight: 300;
  margin: 3em 0 1.5em;
}

@media screen and (max-width: 768px) {
  h1.headline {
    font-size: 2em;
  }
}

.landing-page .split {
  height:100vh;
}

.split:after {
    content: '';
    height: 100%;
    width: 50%;
    background-color: var(--sky-blue);
    display: block;
    position:  absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

@media screen and (max-width: 768px) {
  .split:after {
    display: none;
  }
}

.row .left {
  padding: 0 5em;
}

@media screen and (max-width: 768px) {
  .row .left {
    padding: 0 1.5em;
  }
}

.row .right {
  text-align: center;
}

.row .right img {
  max-height: 600px;
}
@media screen and (max-width: 768px) {
  .row .right {
    display: none;
  }
}

.contact-info a {
  display: inline-block;
  margin-right: 1em;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  line-height: 0;
  vertical-align: middle;
}

/*Footer*/
.landing-page .legal {
  position: absolute;
  padding:1em 5em;
  bottom: 0;
  border: none;
  justify-content: unset;
}
@media screen and (max-width: 768px) {
  .landing-page .legal {
    padding:1em 1.5em;
  }
}

.legal {
  border-top: 1px solid var(--light-blue-grey);
  padding:1.5em 0;
  margin-top: 1em;
  justify-content: center;
}
.legal span {
  display: inline-block;
  margin-right: 10px;
}
