/*Nav*/

/*Landing Page*/
h1.headline {
  font-size: 2.5em;
  font-weight: 300;
  margin: 10% 0 10%;
}

a.login {
  max-width: 200px;
  width: 100%;
  height: 62px;
  border-radius: 28.5px;
  border: solid 1px var(--dodger-blue);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 62px;
  text-align: center;
  color: var(--dodger-blue);
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10%;
}
a.login:hover {
  background-color: var(--dodger-blue);
  color: #fff;
}

@media screen and (max-width: 767px) {
  h1.headline {
    font-size: 1.5em;
    margin: 2em auto 0 auto;
    width: 70%;
    text-align: center;
  }
  .content {
    padding: 2em 0;
  }
  img.logo {
    margin: 2em auto;
    display: block;
  }
  a.login {
    margin: 5% auto;
    display: block;
  }
}

.landing-page .split {
  height: 100vh;
}

@media screen and (max-width: 767px) {
  .landing-page .split {
    height: auto;
  }
}

.split:after {
  content: '';
  height: 100%;
  width: 50%;
  background-color: var(--sky-blue);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

footer .split:after {
  display: none;
}

@media screen and (max-width: 767px) {
  .split:after {
    display: none;
  }
}

.row .left {
  padding: 0 5%;
}

.row .right {
  text-align: center;
}

.row .right img {
  max-height: 600px;
}

.contact-info a {
  display: inline-block;
  margin-right: 1em;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  line-height: 0;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .contact-info {
    text-align: center;
    margin: 2em 0;
  }
}

/*Footer*/
.landing-page .legal {
  position: absolute;
  border: none;
  bottom: 0;
  height: 50px;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .landing-page .legal {
    position: static;
    width: auto;
    height: auto;
    margin-bottom: 2em;
  }
}

.legal {
  justify-content: center;
}
.legal p {
  font-size: 13px;
  display: inline-block;
}

.legal .right p,
.legal .right p a {
  color: #fff;
}

footer .legal {
  border-top: 1px solid var(--light-blue-grey);
}

footer .legal .right p,
footer .legal .right p a {
  color: var(--dodger-blue);
}

@media screen and (max-width: 767px) {
  .legal .right p,
  .legal .right p a {
    color: var(--dodger-blue) !important;
  }
}

.userguide h2,
.userguide h3,
.userguide h4,
.userguide h5 {
  clear: both;
  border: none;
  padding: 0;
  text-transform: capitalize;
  color: var(--dodger-blue);
}

.userguide h2 {
  text-transform: uppercase;
}

.userguide h3 {
  border-bottom: 1px solid var(--light-blue-grey);
}

.userguide p {
  clear: right;
}

.userguide img[title='ios save to home screen'] {
  width: 30%;
  float: right;
  margin-bottom: 25px;
  margin-left: 25px;
}

.userguide img[title='android save to home screen'] {
  width: 30%;
  float: left;
  margin-bottom: 25px;
  margin-right: 25px;
}

.userguide .centered {
  text-align: center;
}

.userguide .centered img {
  height: 60px;
  display: inline-block;
}

.userguide .centered img:nth-child(2) {
  padding: 3px 0px;
  margin-left: 50px;
}
