{% extends "base.html" %}

{% block content %}
{% include '/components/nav.html' %}
<main>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="title">Terms of Use</h1>
      </div>
    </div>
    <div class="row content">
      <div class="col">
        <p>IMPORTANT! PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING OUR PLATFORM. THESE TERMS AFFECT YOUR LEGAL RIGHTS AND OBLIGATIONS, INCLUDING WAIVERS OF RIGHTS, LIMITATION OF LIABILITY, AND YOUR INDEMNITY TO US.</p>
        <p>We put that in all caps, so you know it&rsquo;s important. Plus, our lawyers said we should.</p>

        <h4>IF YOU USE IT, THESE TERMS APPLY (we&rsquo;re not building a baseball diamond in a corn field, but seriously, these are our terms)</h4>

        <p>These Terms of Use governs your use of the Reach Technologies LLC (&ldquo;Reach&rdquo;) websites (the &ldquo;Sites&rdquo;) and any of our mobile applications (each an &ldquo;App&rdquo;) (collectively referred to as the &ldquo;Services&rdquo;).
          By using the Services, you agree to these Terms of Use and our <a href="/privacy-policy">Privacy Policy</a>. If you don&rsquo;t agree, please don&rsquo;t use the Services.</p>
        <p>We may revise these Terms of Use at any time. If you continue to use the Services, it will mean you accept those changes.</p>
        <p>Just in case you need a refresher on pronouns, when we write &ldquo;you,&rdquo; &ldquo;your,&rdquo; &ldquo;user,&rdquo; and &ldquo;users,&rdquo; that means you, which should cover all individuals and/or entities accessing the Services for any
          reason. When we write &ldquo;us&rdquo; or &ldquo;our&rdquo;, that means us &ndash; Reach.</p>

        <h4>You must be this tall&hellip; (and other requirements)</h4>

        <p>No, we don&rsquo;t have a height requirement to use the Services. But you must be 13 years of age or older and use a supported device to use the Services. Also, we expect you to follow the law when you use the Services.</p>
        <p>Once you&rsquo;ve created your Reach account, you can be added to campaigns by any other member of that campaign. If you have been added to multiple campaigns, please make sure you&rsquo;ve selected the correct campaign from the campaign picker
          at the beginning of any session within the App. We wouldn&rsquo;t want you mixing up your District Attorneys with your Attorneys General.</p>
        <p>You may be removed from any campaign at any time by the admin(s) of that campaign. They don&rsquo;t even have to tell you why.</p>

        <h4>Your Account</h4>

        <p>You are responsible for maintaining the confidentiality of your account access credentials and for restricting access to your account. You agree to accept responsibility for all activities that occur under your account. Reach reserves the right
          to refuse service, terminate accounts, or remove or edit content in its sole discretion.</p>

        <h4>don&rsquo;t mess with our services</h4>

        <p>We&rsquo;ve worked hard to create the Services and we&rsquo;re excited to have you on the Reach platform. Help us, help you. Please don&rsquo;t mess with the Services. Also, no Russian bots. Do svidaniya (До свидания).</p>
        <p>The content on the Services, such as text, graphics, images, photographs, illustrations, trademarks, trade names, service marks, logos, information from our licensors and partners, and other materials (&ldquo;Contents&rdquo;) is protected by copyright
          under both United States and foreign laws. We retain all ownership and title to the Contents. Any use of the Contents not expressly permitted by these Terms of Use is a breach of these Terms of Use and may violate copyright, trademark, and other
          laws. Unless we expressly say that it&rsquo;s ok, none of the Contents may be copied, reproduced, distributed, republished, downloaded, displayed, posted or transmitted in any form or by any means without the prior written permission of Reach
          or its licensors.</p>
        <p>Except as permitted by United States copyright law, you may not reproduce or communicate any of the content on the Services, including files or images that may be downloadable from this Services, without the permission of Reach (or as permitted
          in a separate agreement between you (or your organization) and Reach). All rights not expressly granted herein are reserved to Reach and its licensors. If you violate any of these Terms of Use, your permission to use the Contents automatically
          terminates and you must immediately destroy any copies you have made of any portion of the Contents.</p>
        <p>So long as you are following these Terms of Use, Reach grants a non-exclusive limited, non-transferable license to use the Services. Generally, we want you to be a responsible member of society when you use the Services, and that includes not
          taking our stuff and doing things you shouldn&rsquo;t. But not everyone will follow the golden rule, so we&rsquo;ve set out a laundry list of things you&rsquo;re not allowed to do.</p>
        <ul>
          <li>Don&rsquo;t distribute or make the Services available over a network where it could be used by multiple devices at the same time;</li>
          <li>Don&rsquo;t sublicense, assign, redistribute, rent, loan, lease, lend sell, or otherwise transfer the Services (or access to the Services) &ndash; 1 person; 1 account; no sharing;</li>
          <li>Don&rsquo;t copy, decompile, reverse engineer, disassemble, attempt to derive the source code of, modify, or create derivative works of the Services, any updates, or any part thereof;</li>
          <li>Unless we say it&rsquo;s ok, don&rsquo;t &ldquo;mirror&rdquo; any Contents contained in the Services or any other server;</li>
          <li>Don&rsquo;t use the Services in any manner that could damage, disable, overburden, or impair the Services, or interfere with any other party&rsquo;s use and enjoyment of the Services;</li>
          <li>Don&rsquo;t harass voters. Don&rsquo;t use the service to identify people against whom you have personal vendettas and track them down.</li>
          <li>Don&rsquo;t attempt to gain unauthorized access to the Services through hacking, password mining or any other means;</li>
          <li>Don&rsquo;t use the Services for any purpose that is unlawful or prohibited by these Terms of Use (we told you about following the golden rule, right?); and</li>
          <li>Don&rsquo;t be mean (that&rsquo;s just good advice).</li>
        </ul>
        <p>If you violate any of these restrictions or the Terms of Use generally, your permission to use the Contents automatically terminates, you must immediately destroy any copies you have made of any portion of the Contents, and you may be subject
          to prosecution and damages.</p>
        <p>These Terms of Use will govern any upgrades that replace and/or supplement the original Services, unless the upgrade is accompanied by separate or updated Terms of Use. Reach reserves the right, in its sole discretion, to terminate your access
          to the Services, or any portion thereof, at any time, for any reason or for no reason at all, without prior notice or any notice.</p>

        <h4>be a good human &ndash; and other rules when you UPLOAD ANYTHING on the services</h4>

        <p>The personal data you submit to Reach is governed by the Reach Privacy Policy. If there is an inconsistency between the Terms of Use and the Privacy Policy, the Privacy Policy controls.</p>
        <p>The Services may allow you to upload information or materials. If they do, and except as provided under Feedback (below), Reach does not claim ownership of any information or material a user provides to us or posts, uploads, input, submits, or
          transmits to this Services (&ldquo;Submission&rdquo;). You agree that you will not make any Submission that is, in whole or in part, libelous; scandalous; inflammatory; discriminatory; defamatory; false; fraudulent; threatening; vulgar; obscene;
          pornographic; profane; abusive; harassing; invasive of another&rsquo;s privacy; hateful or bashing; aimed at gender, race, color, sexual orientation, national origin, religious views, or disability; in violation of local, state, national, or
          international law; or that infringes on, or violates, any right of any party. Additionally, you agree that you will not: (a) make any Submission that is an advertisement or solicitation of business; (b) disrupt the normal flow of dialogue or
          make a Submission unrelated to the topic being discussed (unless it is clear the discussion is free-form); (c) post a chain letter or pyramid scheme; (d) impersonate another person; (e) distribute viruses or other harmful computer code; (f)
          harvest or otherwise collects information about others, including email addresses, without their consent; (g) post the same note more than once or &ldquo;spam&rdquo;; or (h) engage in any other conduct that restricts or inhibits any other person
          from using or enjoying the Services, or which, in the judgment of Reach, exposes Reach or any of its licensors, partners, or customers to any liability or detriment of any type.</p>
        <p>By making a Submission, you agree that such Submission is non-confidential, non-proprietary, and may be disseminated or used by Reach. If you make a Submission, you automatically grant&mdash;or warrant that the owner of such content has expressly
          granted&mdash;Reach a royalty-free, perpetual, irrevocable, worldwide nonexclusive license to use, reproduce, create derivative works from, modify, publish, edit, translate, distribute, perform, and display the Submission in any media or medium,
          or any form, format, or forum now known or hereafter developed. However, Reach is not required to use any Submission.</p>
        <p>You are solely responsible for your Submission, the consequences of making a Submission, and your reliance on any Submissions. Reach is not responsible for the consequences of any Submission. Reach is not responsible for screening or monitoring
          Submissions made to this Services by users. If notified by a user of a Submission allegedly in violation of these Terms of Use, Reach may investigate the allegation and determine in good faith and its sole discretion whether to remove such Submission.
          Reach will have no liability or responsibility to users for performance or nonperformance of such activities.</p>
        <p>Reach reserves the right (but is not required) to: (a) record the dialogue on the Services; (b) investigate an allegation that a Submission does not comply with these Terms of Use and determine in its sole discretion to remove or request the removal
          of the Submission; (c) remove Submissions which are abusive, illegal, disruptive, or outdated, or that otherwise fail to comply with these Terms of Use; (d) terminate a user&rsquo;s access to any or all parts of the Services upon any breach
          of these Terms of Use or the law; (e) monitor, edit, or disclose any Submission; (f) edit or delete any Submission posted on the Services, regardless of whether such Submission violates these Terms of Use.</p>

        <h4>Feedback</h4>

        <p>If you choose to share any ideas, suggestions, know-how, or concepts with us through this Services or otherwise, we will treat this as non-confidential information and will have the unrestricted right to use and disclose such ideas, suggestions,
          know-how or concepts for any purpose without compensation or obligation to you or any party. In other words, if you share your ideas (even if we don&rsquo;t ask for them), and if we think they&rsquo;re good, we can use and share them without
          paying you or anyone else.</p>

        <h4>Liability of Reach and Its Licensors and Partners</h4>

        <p>The use of the Services or the Contents is at your own risk. The Contents in the Services could include technical inaccuracies or typographical errors. Reach may make changes or improvements at any time.</p>
        <p>THE CONTENTS IN THE SERVICES ARE PROVIDED &ldquo;AS IS&rdquo; AND WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, REACH DISCLAIMS ALL WARRANTIES OF MERCHANTABILITY OR FITNESS
          FOR A PARTICULAR PURPOSE. REACH DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SERVICES OR THE SERVER THAT MAKE IT AVAILABLE ARE FREE OF VIRUSES
          OR OTHER HARMFUL COMPONENTS. REACH DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OF OR THE RESULT OF THE USE OF THE CONTENTS IN THE SERVICES IN TERMS OF THEIR CORRECTNESS, ACCURACY, RELIABILITY, OR OTHERWISE. YOU (AND NOT REACH)
          ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION.</p>
        <p>TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, REACH ASSUMES NO LIABILITY, WHETHER IN CONTRACT OR TORT, FOR ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES, INCLUDING (WITHOUT LIMITATION) DAMAGES FOR LOSS OF ANTICIPATED
          PROFITS OR REVENUE OR OTHER ECONOMIC LOSS IN CONNECTION WITH OR ARISING FROM ANY ACT OR OMISSION BY REACH, ITS AGENTS, AFFILIATES, JOINT VENTURE PARTNERS, INDEPENDENT CONTRACTORS, OR UNAFFILIATED THIRD PARTIES AS A RESULT OF ANY ACT OR OMISSION
          IN FULFILLMENT OF OR IN BREACH OF THESE TERMS OF USE OR THE PRIVACY POLICY.</p>

        <h4>Contact with Third Parties and Third Party Websites</h4>

        <p>Sometimes we include links to other sites. We don&rsquo;t control those sites and we aren&rsquo;t responsible for them. We hope the links are helpful, but don&rsquo;t get mad at us if you don&rsquo;t like what you find there. But also, don&rsquo;t
          get too excited. Most of these are boring government sites where you can do things like check voter registrations.</p>
        <p>The Services may contain hyperlinks to other websites (&ldquo;Third-Party Sites&rdquo;), as well as to text, graphics, videos, images, music, sounds, and information belonging to or originating from other parties (collectively, &ldquo;Third-Party
          Applications&rdquo;). We don&rsquo;t investigate, monitor, or review any Third-Party Sites or Third-Party Applications to ensure their accuracy, completeness, or appropriateness. We aren&rsquo;t responsible for the Third-Party Sites or any Third-Party
          Applications accessed through the Services. You agree that Reach will have no liability with respect to any loss or damage of any kind incurred as a result of any dealings between you and any third party, or as a result of the presence of such
          third party on the Services.</p>
        <p>The inclusion of any hyperlinks to any Third-Party Sites or Third-Party Applications on the Services does not indicate our approval or endorsement of them. These links are provided solely as a convenience or benefit to users. Your interactions
          with a third party on the Services, or based on such third party&rsquo;s participation or presence on the Services, are solely between you and the third party. Reach makes no representations or warranties with respect to the content, ownership,
          or legality of any such linked third party website. If you choose to leave the Services to access any Third-Party Sites or Third-Party Applications, you do so at your own risk.</p>

        <h4>Indemnity</h4>

        <p>You agree to defend, indemnify, and hold Reach, its officers, directors, employees, agents, licensors, and partners, harmless from and against any claims, actions, demands, liabilities, and settlements including, without limitation, reasonable
          legal and accounting fees, resulting from, or alleged to result from, your use of the Services or Contents, or your violation of these Terms of Use.</p>

        <h4>Modification or Suspension of the Services</h4>

        <p>You agree that Reach may, in its sole discretion and at any time, modify, discontinue, or suspend its operation of the Services, any part thereof or any Contents, temporarily or permanently, without notice or liability to you. Individual campaign
          administrators may, in their sole discretion and at any time, remove your Reach account from the campaigns they control.</p>

        <h4>General</h4>

        <p>Reach makes no claims that the Contents are appropriate or may be downloaded outside of the United States of America. Access to the Contents may not be legal by certain persons or in certain countries. If you access the Services from outside the
          United States, you do so at your own risk and are responsible for compliance with the laws of your jurisdiction. The following provisions survive the expiration or termination of these Terms of Use for any reason whatsoever: Liability of Reach
          and its Licensors and Partners, Use Restrictions, Be a Good Human &ndash; and Other Rules When You Upload Anything on the Services, Feedback, Indemnity, Governing Laws, Venue and Class Action Waiver, and Complete Agreement and Severability.</p>

        <h4>Governing Law, Venue and Class Action Waiver</h4>

        <p>These Terms of Use are governed in accordance with the laws of New York, United States of America, without regard to its conflict of law provisions. You and Reach hereby expressly consent and submit to the exclusive jurisdiction of the Supreme
          Court of the State of New York, County of New York, or the United States District Court for the Southern District of New York for the adjudication or disposition of any claim, action or dispute arising out of these Terms of Use.</p>
        <p>Class Action Waiver. PLEASE READ THIS SECTION CAREFULLY &ndash; IT MAY SIGNIFICANTLY AFFECT YOUR LEGAL RIGHTS. The Parties agree that they will resolve any claims on an individual basis, and not in a class, consolidated or representative action.
          If any court or arbitrator determines that the class action waiver set forth in this paragraph is void or unenforceable for any reason or that a lawsuit can proceed on a class basis, then the Claims must be litigated in the Supreme Court of
          the State of New York, County of New York, or the United States District Court for the Southern District of New York.</p>

        <h4>Notice and Take Down Procedures</h4>

        <p>If you believe any Submission accessible on or from the Services infringes your copyright, you may request removal of those materials (or access thereto) from this Services by contacting Reach (address identified below) and providing the following
          information:
        </p>

        <ul>
          <li>Identification of the copyrighted work that you believe to be infringed. Please describe the work, and where possible include a copy or the location (e.g., URL) of an authorized version of the work;</li>
          <li>Identification of the Submission that you believe to be infringing and its location. Please describe the Submission, and provide us with its URL or any other pertinent information that will allow us to locate the Submission;</li>
          <li>Your name, address, telephone number, and (if available) email address;</li>
          <li>A statement that you have a good faith belief that the complained of use of the work is not authorized by the copyright owner, its agent, or the law;</li>
          <li>A statement that the information you have supplied is accurate, and indicating that &ldquo;under penalty of perjury,&rdquo; you are the copyright owner or authorized representative; and</li>
          <li>A signature or the electronic equivalent from the copyright holder or authorized representative.</li>
        </ul>

        <p>Our address for copyright issues relating to these Services is as follows:</p>
        Reach Technologies LLC<br/> 88-10 35th Avenue, Apt. 3F<br/> Jackson Heights, NY 11372<br/> Attn: Leo Sussan</p>
        <p><a href="mailto:support@reach.vote">support@reach.vote </a></p>
        <p>In an effort to protect the rights of copyright owners, Reach maintains a policy for the termination, in appropriate circumstances, of users of the Services who are repeat infringers.</p>

        <h4>Complete Agreement and Severability</h4>

        <p>Except as expressly provided in a particular notice or disclaimer posted by or on behalf of Reach on this Services, these Terms of Use, including Reach Privacy Policy, constitute the entire agreement between you and Reach with respect to the use
          of the Services and Contents.</p>
        <p>If any provision of these Terms of Use is found to be invalid by any court having competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms of Use, which shall remain in full
          force and effect. No waiver of any of these Terms of Use shall be deemed a further or continuing waiver of such term or condition or any other term or condition.</p>
      </div>
    </div>
    {% include '/components/footer.html' %}
  </div>
</main>
{% endblock %}
